<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_for(@profile) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :native_language %><br />
    <%= f.text_field :native_language %>
  </div>
  <div class="field">
    <%= f.label :target_language %><br />
    <%= f.text_field :target_language %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.url_field :source, :readonly => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>