<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_with url: "/scrape", method: :post do |f| %>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit "Extract" %>
  </div>
<% end %>
